body{
    background: url("https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190__480.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}
.box {
    width: 700px;
    text-align: center;
    margin: auto;
}
.box img{
    width: 80px;
}
.box li{
    list-style-type: none;
    display: inline;
    padding: 80px;
}
h1 {
    color: darkred;
    font-size: 70px;
    font-family: fantasy;
}
p {
    font-weight: bold;
    font-family: monospace;
}
a {
    opacity: 0.5;
    font-family: fantasy;
    color: rgb(63, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
.menu {
    border-radius: 6px;
    background-color: antiquewhite;
    border: 4px rgb(255, 255, 255) solid;
    display: flex;
    column-gap: 5px;
    flex-direction: column;

}
.menu div{
    background-color: rgb(94, 94, 93); 
    border: 3px rgb(34, 33, 33) solid;
    border-radius: 5px;
    margin: 30px;

}
.menu img {
    width: 130px;
}

h4 {
    color: black;
    font-size: 20px;
    font-family: fantasy;
    word-spacing: 5px;
    letter-spacing: 2px;
}
#footer{
    position:relative;     
    background-color:rgb(42, 42, 42);     
    height:200px;     
    width:100%;    
    text-align: left;
}
#footer a {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
}
#footer p {
    color: rgb(255, 255, 255);
    margin-left: 2%;
}
